/* -------------------------------------------- */
/* THE WHOLE PAGE */
/* -------------------------------------------- */
#container{
    /* height: 100vh; */
    display: flex;
    /* border: 0px; */
    /* justify-content: space-between; */
    flex-direction: column;
    flex-wrap: wrap;

}

body{
background-color: rgba(233, 225, 200, 0.5);
}


/* -------------------------------------------- */
/* THE HEADER */
/* -------------------------------------------- */
.navigation{
    margin: 10px;
    padding: 10px;
    /* max-width: 200px; */
    /* min-width: 100px; 
    max-width: 100px; */
    width: 170px;
    height: 50px;
    background-color: white;
    color: black;
    border-width: 2px;
    border-color: rgb(182, 141, 36);
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

#navigation{
    position: relative;
   /* display: flex; */
   /* flex-wrap: wrap; */
   /* align-content: left; */
   /* margin-inline-start: 950px; */
}

.header{
    background-color: rgba(235, 243, 235, 0.6);
    /* linear-gradient(120deg,#7a423e,#fbc531); */
    /* opacity: 50%; */
    border: olive;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 120px;
    /* flex-wrap: wrap; */
}

#logo{
    position: relative;
    margin-inline-start: 45%;
    background: url(/images/logo3.png);
    /* top: 0px;   */
}

#btn{
    position: absolute;
    right: 55px;
    top: 40px; 
}

/* -------------------------------------------- */
/* THE DIFFERENT BOXES -THE BODY*/
/* -------------------------------------------- */
.child1 background-image{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* height: 200px;
    padding: 100px; */
}


.child1{
    height: 600px;
    background: orange;
}

/* Footer */
/* --------- */
.child3{
    height: 200px;
    background:linear-gradient(120deg,#dbb13b,#9e3939);
    margin-top: 50px;
    opacity: 40%;
    text-align: center;
}
/* ------- */

.main-content{
    margin-bottom: 50px;
}

/* -------------------------------------------- */
/* THE TEXTS  */
/* -------------------------------------------- */
/* .large-text{
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    padding:1px;
    margin-bottom: 5px;
    color: whitesmoke; 
} */

.small-text{
    text-align: center;
    font-size: 50px;
    /* font-style: italic; */
    padding: 1px;
    /* bottom: 30px;  */
    margin-bottom: 30px;
    margin-top: 150px;
    color: whitesmoke;
    font-family: 'Cedarville Cursive', cursive;
}



/* -------------------------------------------- */
/* THE SEARCH BAR AND BUTTON  AND DATE */
/* -------------------------------------------- */
.input-bar{
    height: 55px;
    width: 350px;
    position: relative;
    /* left: 30%; */
    font-size: 15px;
    opacity: 75%;
    background: white;
    border: white;
    text-indent: 7px;
      
}

.Submit{
    height: 57px;
    width: 150px;
    position: relative;
    background: white;
    border: white;
    padding: 0px;
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    font-style: bold;
}
    

.specific-date{
    margin-right: 7px;
    text-indent: 7px;
    width: 160px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}



/* -------------------------------------------- */
/* THE OUTPUT MESSAGES */
/* -------------------------------------------- */
.output1{
    /* display: flex;
    flex-wrap: wrap; */
    background: rgba(175, 164, 134, 0.5);
    max-width: 300px;
    min-width: 150px;
    width: 160px;
    min-width: 150px;
    min-height: 75px;
    max-height:100px;
    padding: 5px;
    margin: 15px;
    /* justify-content: center; */
    /* font-size: 20px; */
}

.output2{
    /* display: flex;
    flex-wrap: wrap; */
    background: rgba(175, 164, 134, 0.5);
    max-width: 300px;
    width: 160px;
    min-width: 150px;
    min-height: 35px;
    padding: 5px;
    margin: 15px;
    /* justify-content: center;
    font-size: 20px; */
}

.output3{
    /* display: flex;
    flex-wrap: wrap; */
    background: rgba(175, 164, 134, 0.5);
    max-width: 300px;
    width: 160px;
    min-width: 150px;
    min-height: 35px;
    padding: 5px;
    margin: 15px;
    /* justify-content: center;
    font-size: 20px; */
} 

.output{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


#city-top{
    background-color: rgba(107, 39, 39, 0.3);
    border-top: 5px;
    border-color: rgb(187, 11, 11);
    width: 160px;
    height: 25px;
    text-align: center;
    color: rgb(230, 217, 217);
    font-style: bold;
    font-size: 16px;
    padding-top: 5px;
    
}

#city{
    font-size: 20px;
    font-style: bold;
    text-align: center; 
    padding-top: 10px;
}

#sunrise-top{
    background-color: rgba(107, 39, 39, 0.3);
    border-top: 5px;
    border-color: rgb(187, 11, 11);
    width: 160px;
    height: 25px;
    text-align: center;
    color: rgb(230, 217, 217);
    font-style: bold;
    font-size: 16px;
    padding-top: 5px;
}

#sunrise{
    font-size: 20px;
    font-style: bold;
    text-align: center; 
    padding-top: 10px;
}

#sunset-top{
    background-color: rgba(107, 39, 39, 0.3);
    border-top: 5px;
    border-color: rgb(187, 11, 11);
    width: 160px;
    height: 25px;
    text-align: center;
    color: rgb(230, 217, 217);
    font-style: bold;
    font-size: 16px;
    padding-top: 5px;
}

#sunset{
    font-size: 20px;
    font-style: bold;
    text-align: center; 
    padding-top: 10px;
}
.results{
   margin-top: 30px;
   
}


.info{
    background-color:rgba(233, 225, 200, 0.5);
    padding:20px;
    font-size: 30px;
    width: 900px;
    text-align: left;
    color: rgb(87, 82, 82);
    font-family: 'Cedarville Cursive', cursive;
   
}
/* -------------------------------------------- */
/* CAROUSEL */
/* -------------------------------------------- */
.carousel-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: auto;  
}

.carousel-images {
    width: 90%;
    background: #c89b4775;
    padding: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  
.carousel-images img {
    width: 100%;
    max-height:800px;
    border-radius: 5px;
    display:none;
  }
  
.carousel-images img:first-of-type{
    display: block;
  }

.carousel-button {
    align-self: center;
    background:  #e9d30bec;
    opacity: 50%;
    color: rgb(219, 122, 12);
    padding: 20px;
    margin: 10px;
    border-radius: 10%; 
    text-align: center;
    box-shadow: 1px 1px #db9c26;
    transition: 0.6s ease;
  } 


.carousel-button:hover {
    cursor: pointer;
    background: #a3370d94;
    box-shadow: 1px 1px #ccb16875;
    color: white;
  }
  
.lnr-chevron-left-circle{
    font-size: 40px;
}


.lnr-chevron-right-circle{
    font-size: 40px;
}


.footer{
    list-style: none;
    display:inline;
    margin: 25px;
    padding: 50px;
    
}

.child3 ul{
    margin:15px;
    padding-top: 50px;
    text-align: center;
    color: grey;
    font-size:14px;

}

.chil3 p{
    text-align: center;
}

.inc {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pxigi;
}


